########################## Train model ##############################

In [5]:
import pandas as pd
MBCDA = list(pd.read_fwf('../parallel_labels_cda_with_names_intervention.txt', header=None)[0])#[6750:]

df = pd.read_csv("../3_swapping/filtered_prepped_wiki_6.csv")
df = df[:len(MBCDA)]

df["cleaned_labels"] = MBCDA

# df["MBCDA"] = pd.read_fwf('../parallel_labels_fairflow.txt', header=None)[0]#.iloc[2580:,0]

df.drop_duplicates()
df = df.dropna()
# df1 = df[:1171]
# df1
df = df[:196350]
df

,Unnamed: 0,text,flipped_text,gender,cleaned_labels
0,0,Formerly located just south of the town was a ...,Formerly located just south of the town was a ...,1,Formerly located just south of the town was a ...
1,1,The first European settlers (the Seale brother...,The first European settlers (the Seale sisters...,1,The first European settlers (the Seale Sisters...
2,2,The township was named after its founder and 1...,The township was named after its founder and 1...,1,The township was named after its founder and 1...
3,3,"On March 12, 2008, a roof collapse in the Gour...","On March 12, 2008, a roof collapse in the Gour...",1,"On March 12, 2008, a roof collapse at the Gour..."
4,4,"On 2 September 1970, the club inaugurated its ...","On 2 September 1970, the club inaugurated its ...",1,"On 2 September 1970, the club inaugurated its ..."
...,...,...,...,...,...
196345,196345,"After achieving his doctorate, Clark joined Jo...","After achieving her doctorate, Lottie joined M...",1,"After achieving her doctorate, Lottie joined M..."
196346,196346,"Clark met Helen Banfield at Cambridge in 1973,...","Lottie met Mark Banfield at Cambridge in 1973,...",1,"Lottie met Mark Banfield at Cambridge in 1973,..."
196347,196347,Molly Bloom is a fictional character in the 19...,Owen Bloom is a fictional character in the 192...,0,Owen Bloom is a fictional character in the Eng...
196348,196348,"The final chapter of ""Ulysses"", often called ""...","The final chapter of ""Christi"", often called ""...",0,"The final chapter of ""Christi"", often called ""..."
196349,196349,Molly Bloom's soliloquy is the eighteenth and ...,Owen Bloom's soliloquy is the eighteenth and f...,0,Owen Bloom's soliloquy is the eighteenth and f...

In [4]:
# import pandas as pd
df = pd.read_csv("filtered_training_data_wiki_6_model_1.csv")
df
# dd = df["flipped_text"]
# for i in dd[:1000]:
#     print(i)

,Unnamed: 0.1,Unnamed: 0,text,flipped_text,gender
0,0,0,Formerly located just south of the town was a ...,Formerly located just south of the town was a ...,1
1,1,1,The first European settlers (the Seale brother...,The first European settlers (the Seale sisters...,1
2,2,2,The township was named after its founder and 1...,The township was named after its founder and 1...,1
3,3,3,"On March 12, 2008, a roof collapse in the Gour...","On March 12, 2008, a roof collapse in the Gour...",1
4,4,4,"On 2 September 1970, the club inaugurated its ...","On 2 September 1970, the club inaugurated its ...",1
...,...,...,...,...,...
504167,504167,504167,Abrial started his career in 1896 at the Ã‰cole...,Abrial started her career in 1896 at the Ã‰cole...,1
504168,504168,504168,After completing studies at the Ã‰cole Navale n...,After completing studies at the Ã‰cole Navale n...,1
504169,504169,504169,Abrial worked in cooperation with the British ...,Abrial worked in cooperation with the British ...,1
504170,504170,504170,"On the downfall of the Vichy regime, Abrial wa...","On the downfall of the Vichy regime, Abrial wa...",1
504171,504171,504171,"In the 2004 BBC miniseries ""Dunkirk"", Abrial w...","In the 2004 BBC miniseries ""Dunkirk"", Abrial w...",1

In [7]:
df.to_csv("filtered_training_data_wiki_6_mbcda_model_2.csv")

In [2]:
# import pandas as pd
# dd = pd.read_csv("filtered_training_data_wiki_6_fairflow_with_names.csv")
# dd

,Unnamed: 0,text,flipped_text,gender,cleaned_labels
0,0,Formerly located just south of the town was a ...,Formerly located just south of the town was a ...,1,Formerly located just south of the town was a ...
1,1,The first European settlers (the Seale brother...,The first European settlers (the Seale sisters...,1,The first European settlers (the Seale Sisters...
2,2,The township was named after its founder and 1...,The township was named after its founder and 1...,1,The township was named after its founder and 1...
3,3,"On March 12, 2008, a roof collapse in the Gour...","On March 12, 2008, a roof collapse in the Gour...",1,"On March 12, 2008, a roof collapse at the Gour..."
4,4,"On 2 September 1970, the club inaugurated its ...","On 2 September 1970, the club inaugurated its ...",1,"On 2 September 1970, the club inaugurated its ..."
...,...,...,...,...,...
196345,196345,"After achieving his doctorate, Clark joined Jo...","After achieving her doctorate, Lottie joined J...",1,"After achieving her doctorate, Lottie joined J..."
196346,196346,"Clark met Helen Banfield at Cambridge in 1973,...","Lottie met Mark Banfield at Cambridge in 1973,...",1,"Lottie met Mark Banfield at Cambridge in 1973,..."
196347,196347,Molly Bloom is a fictional character in the 19...,Owen Bloom is a fictional character in the 192...,0,Owen Bloom is a fictional character in the Eng...
196348,196348,"The final chapter of ""Ulysses"", often called ""...","The final chapter of ""Christi"", often called ""...",0,"The final chapter of ""Christi"", often called ""..."
196349,196349,Molly Bloom's soliloquy is the eighteenth and ...,Owen Bloom's soliloquy is the eighteenth and f...,0,Owen Bloom's soliloquy is the eighteenth and f...

In [1]:
!python mbcda_train.py -m "facebook/bart-large" -d "filtered_training_data_wiki_6_mbcda_model_2.csv" -t "text" -l "cleaned_labels" -s 0.9 -c "cuda" -mode "train"

There are 1 GPU(s) available.
We will use the GPU: NVIDIA A40
176715 176715
176,715 training samples
19,635 training samples
*************** training model ***************
/opt/conda/lib/python3.11/site-packages/transformers/optimization.py:429: FutureWarning: This implementation of AdamW is deprecated and will be removed in a future version. Use the PyTorch implementation torch.optim.AdamW instead, or set `no_deprecation_warning=True` to disable this warning
  warnings.warn(
  0%|          | 0/10 [00:00<?, ?it/s]

======== Epoch 1 / 10 ========
Training...
  Batch    40  of  5,523.    Elapsed: 0:00:54.
  Batch    80  of  5,523.    Elapsed: 0:01:38.
  Batch   120  of  5,523.    Elapsed: 0:02:23.
  Batch   160  of  5,523.    Elapsed: 0:03:07.
  Batch   200  of  5,523.    Elapsed: 0:03:51.
  Batch   240  of  5,523.    Elapsed: 0:04:35.
  Batch   280  of  5,523.    Elapsed: 0:05:19.
  Batch   320  of  5,523.    Elapsed: 0:06:03.
  Batch   360  of  5,523.    Elapsed: 0:06:47.
  Batch   400  of  5,523.    Elapsed: 0:07:31.
  Batch   440  of  5,523.    Elapsed: 0:08:15.
  Batch   480  of  5,523.    Elapsed: 0:08:59.
  Batch   520  of  5,523.    Elapsed: 0:09:43.
  Batch   560  of  5,523.    Elapsed: 0:10:27.
  Batch   600  of  5,523.    Elapsed: 0:11:11.
  Batch   640  of  5,523.    Elapsed: 0:11:55.
  Batch   680  of  5,523.    Elapsed: 0:12:39.
  Batch   720  of  5,523.    Elapsed: 0:13:23.
  Batch   760  of  5,523.    Elapsed: 0:14:07.
  Batch   800  of  5,523.    Elapsed: 0:14:51.
  Batch   840  of  5,523.    Elapsed: 0:15:35.
  Batch   880  of  5,523.    Elapsed: 0:16:19.
  Batch   920  of  5,523.    Elapsed: 0:17:03.
  Batch   960  of  5,523.    Elapsed: 0:17:47.
  Batch 1,000  of  5,523.    Elapsed: 0:18:31.
  Batch 1,040  of  5,523.    Elapsed: 0:19:15.
  Batch 1,080  of  5,523.    Elapsed: 0:19:59.
  Batch 1,120  of  5,523.    Elapsed: 0:20:43.
  Batch 1,160  of  5,523.    Elapsed: 0:21:27.
  Batch 1,200  of  5,523.    Elapsed: 0:22:11.
  Batch 1,240  of  5,523.    Elapsed: 0:23:00.
  Batch 1,280  of  5,523.    Elapsed: 0:23:44.
  Batch 1,320  of  5,523.    Elapsed: 0:24:28.
  Batch 1,360  of  5,523.    Elapsed: 0:25:12.
  Batch 1,400  of  5,523.    Elapsed: 0:25:55.
  Batch 1,440  of  5,523.    Elapsed: 0:26:39.
  Batch 1,480  of  5,523.    Elapsed: 0:27:23.
  Batch 1,520  of  5,523.    Elapsed: 0:28:07.
  Batch 1,560  of  5,523.    Elapsed: 0:28:51.
  Batch 1,600  of  5,523.    Elapsed: 0:29:36.
  Batch 1,640  of  5,523.    Elapsed: 0:30:24.
  Batch 1,680  of  5,523.    Elapsed: 0:31:13.
  Batch 1,720  of  5,523.    Elapsed: 0:32:01.
  Batch 1,760  of  5,523.    Elapsed: 0:32:50.
  Batch 1,800  of  5,523.    Elapsed: 0:33:38.
  Batch 1,840  of  5,523.    Elapsed: 0:34:23.
  Batch 1,880  of  5,523.    Elapsed: 0:35:07.
  Batch 1,920  of  5,523.    Elapsed: 0:35:51.
  Batch 1,960  of  5,523.    Elapsed: 0:36:35.
  Batch 2,000  of  5,523.    Elapsed: 0:37:19.
  Batch 2,040  of  5,523.    Elapsed: 0:38:03.
  Batch 2,080  of  5,523.    Elapsed: 0:38:47.
  Batch 2,120  of  5,523.    Elapsed: 0:39:31.
  Batch 2,160  of  5,523.    Elapsed: 0:40:15.
  Batch 2,200  of  5,523.    Elapsed: 0:40:59.
  Batch 2,240  of  5,523.    Elapsed: 0:41:43.
  Batch 2,280  of  5,523.    Elapsed: 0:42:27.
  Batch 2,320  of  5,523.    Elapsed: 0:43:11.
  Batch 2,360  of  5,523.    Elapsed: 0:43:55.
  Batch 2,400  of  5,523.    Elapsed: 0:44:39.
  Batch 2,440  of  5,523.    Elapsed: 0:45:28.
  Batch 2,480  of  5,523.    Elapsed: 0:46:12.
  Batch 2,520  of  5,523.    Elapsed: 0:46:55.
  Batch 2,560  of  5,523.    Elapsed: 0:47:39.
  Batch 2,600  of  5,523.    Elapsed: 0:48:23.
  Batch 2,640  of  5,523.    Elapsed: 0:49:07.
  Batch 2,680  of  5,523.    Elapsed: 0:49:51.
  Batch 2,720  of  5,523.    Elapsed: 0:50:35.
  Batch 2,760  of  5,523.    Elapsed: 0:51:19.
  Batch 2,800  of  5,523.    Elapsed: 0:52:03.
  Batch 2,840  of  5,523.    Elapsed: 0:52:47.
  Batch 2,880  of  5,523.    Elapsed: 0:53:31.
  Batch 2,920  of  5,523.    Elapsed: 0:54:15.
  Batch 2,960  of  5,523.    Elapsed: 0:54:59.
  Batch 3,000  of  5,523.    Elapsed: 0:55:42.
  Batch 3,040  of  5,523.    Elapsed: 0:56:26.
  Batch 3,080  of  5,523.    Elapsed: 0:57:10.
  Batch 3,120  of  5,523.    Elapsed: 0:57:54.
  Batch 3,160  of  5,523.    Elapsed: 0:58:38.
  Batch 3,200  of  5,523.    Elapsed: 0:59:22.
  Batch 3,240  of  5,523.    Elapsed: 1:00:06.
  Batch 3,280  of  5,523.    Elapsed: 1:00:50.
  Batch 3,320  of  5,523.    Elapsed: 1:01:34.
  Batch 3,360  of  5,523.    Elapsed: 1:02:18.
  Batch 3,400  of  5,523.    Elapsed: 1:03:01.
  Batch 3,440  of  5,523.    Elapsed: 1:03:45.
  Batch 3,480  of  5,523.    Elapsed: 1:04:29.
  Batch 3,520  of  5,523.    Elapsed: 1:05:13.
  Batch 3,560  of  5,523.    Elapsed: 1:05:57.
  Batch 3,600  of  5,523.    Elapsed: 1:06:41.
  Batch 3,640  of  5,523.    Elapsed: 1:07:30.
  Batch 3,680  of  5,523.    Elapsed: 1:08:14.
  Batch 3,720  of  5,523.    Elapsed: 1:08:58.
  Batch 3,760  of  5,523.    Elapsed: 1:09:42.
  Batch 3,800  of  5,523.    Elapsed: 1:10:25.
  Batch 3,840  of  5,523.    Elapsed: 1:11:09.
  Batch 3,880  of  5,523.    Elapsed: 1:11:53.
  Batch 3,920  of  5,523.    Elapsed: 1:12:37.
  Batch 3,960  of  5,523.    Elapsed: 1:13:21.
  Batch 4,000  of  5,523.    Elapsed: 1:14:05.
  Batch 4,040  of  5,523.    Elapsed: 1:14:49.
  Batch 4,080  of  5,523.    Elapsed: 1:15:33.
  Batch 4,120  of  5,523.    Elapsed: 1:16:17.
  Batch 4,160  of  5,523.    Elapsed: 1:17:00.
  Batch 4,200  of  5,523.    Elapsed: 1:17:44.
  Batch 4,240  of  5,523.    Elapsed: 1:18:28.
  Batch 4,280  of  5,523.    Elapsed: 1:19:12.
  Batch 4,320  of  5,523.    Elapsed: 1:19:56.
  Batch 4,360  of  5,523.    Elapsed: 1:20:40.
  Batch 4,400  of  5,523.    Elapsed: 1:21:24.
  Batch 4,440  of  5,523.    Elapsed: 1:22:08.
  Batch 4,480  of  5,523.    Elapsed: 1:22:51.
  Batch 4,520  of  5,523.    Elapsed: 1:23:35.
  Batch 4,560  of  5,523.    Elapsed: 1:24:19.
  Batch 4,600  of  5,523.    Elapsed: 1:25:03.
  Batch 4,640  of  5,523.    Elapsed: 1:25:47.
  Batch 4,680  of  5,523.    Elapsed: 1:26:31.
  Batch 4,720  of  5,523.    Elapsed: 1:27:15.
  Batch 4,760  of  5,523.    Elapsed: 1:27:59.
  Batch 4,800  of  5,523.    Elapsed: 1:28:43.
  Batch 4,840  of  5,523.    Elapsed: 1:29:32.
  Batch 4,880  of  5,523.    Elapsed: 1:30:15.
  Batch 4,920  of  5,523.    Elapsed: 1:30:59.
  Batch 4,960  of  5,523.    Elapsed: 1:31:43.
  Batch 5,000  of  5,523.    Elapsed: 1:32:27.
  Batch 5,040  of  5,523.    Elapsed: 1:33:11.
  Batch 5,080  of  5,523.    Elapsed: 1:33:55.
  Batch 5,120  of  5,523.    Elapsed: 1:34:39.
  Batch 5,160  of  5,523.    Elapsed: 1:35:22.
  Batch 5,200  of  5,523.    Elapsed: 1:36:06.
  Batch 5,240  of  5,523.    Elapsed: 1:36:50.
  Batch 5,280  of  5,523.    Elapsed: 1:37:34.
  Batch 5,320  of  5,523.    Elapsed: 1:38:18.
  Batch 5,360  of  5,523.    Elapsed: 1:39:02.
  Batch 5,400  of  5,523.    Elapsed: 1:39:46.
  Batch 5,440  of  5,523.    Elapsed: 1:40:30.
  Batch 5,480  of  5,523.    Elapsed: 1:41:14.
  Batch 5,520  of  5,523.    Elapsed: 1:41:58.

  Average training loss avg_train_lossF 0.40
  Training epcoh took: 1:42:07

======== Epoch 2 / 10 ========
Training...
  Batch    40  of  5,523.    Elapsed: 0:00:44.

#################### Test ##########################

In [6]:
# !python generate_mbcda.py -m "facebook/bart-base" -data_path "../final_files/data/bias_in_bios_original" -model_path "trained_model_0.pth" -num_beams 5 -mode "generate"

In [7]:
# !python del2_mbcda.py -m "facebook/bart-base" -p "distilgpt2" -d "jigsaw_data.csv" -t "comment_text" -l "flipped_comment_text" -s 0.9 -c "cuda" -mode "generate"

In [8]:
# "-m", "--model_name", default="facebook/bart-base", help="generative model type")
# parser.add_argument("-p", "--perplexity_test_model", default="distilgpt2", help="model to test for perplexity")
# parser.add_argument("-d", "--data_path", default="", help="path to training dataframe - pandas")
# parser.add_argument("-l", "--label_column", default="flipped_text", help="column name for training labels")
# parser.add_argument("-s", "--train_split_ratio", default=0.9, type=float, help="train-test split ratio")
# parser.add_argument("-c", "--device", default="cuda", help="cpu or cuda")

In [ ]:
# kmkm