In [1]:
# Add names to pairs!

In [2]:
from torch.utils.data import DataLoader, RandomSampler, SequentialSampler
from TransformerGlow import AdamWeightDecayOptimizer, FactorTrainer
import numpy as np
import torch
import random
import pandas as pd
import pickle
# import os, sys
# import time
# import datetime
# import torch.nn.functional as F
# from torch import nn



# random.seed(42)
torch.manual_seed(42) 
if torch.cuda.is_available():
  device = torch.device("cuda")
  print('There are %d GPU(s) available.' % torch.cuda.device_count())
  print('We will use the GPU:', torch.cuda.get_device_name(0))

else:
  print('No GPU available, using the CPU instead.')
  device = torch.device("cpu")

There are 1 GPU(s) available.
We will use the GPU: NVIDIA A40

In [3]:
def get_examples1(embeddings, gen_labels, attribute_ids, rand_seed=2, train=True):
    random.seed(rand_seed)
    female_embeddings = []
    male_embeddings = []
    female_gen_labels = []
    male_gen_labels = []
    female_attribute_ids = []
    male_attribute_ids = []
    female_logits = []
    male_logits = []

    # print(len(gen_labels))
    for key,i in enumerate(gen_labels):
        # print(i)
        if i==0:
            female_embeddings.append(embeddings[key])
            female_gen_labels.append(i)
            female_attribute_ids.append(attribute_ids[key])
            # female_logits.append(logits[key])
            # print(key)
        else:
            male_embeddings.append(embeddings[key])
            # print(embeddings[key])
            male_gen_labels.append(i)
            male_attribute_ids.append(attribute_ids[key])
            # male_logits.append(logits[key])

    female_embeddings = torch.tensor(np.array(female_embeddings))
    female_attribute_ids = torch.tensor(np.array(female_attribute_ids))
    female_gen_labels = torch.tensor(np.array(female_gen_labels))
    # female_logits = torch.tensor(np.array(female_logits))
    
    male_embeddings = torch.tensor(np.array(male_embeddings))
    male_attribute_ids = torch.tensor(np.array(male_attribute_ids))
    male_gen_labels = torch.tensor(np.array(male_gen_labels))
    # male_logits = torch.tensor(np.array(male_logits))
    
    return female_embeddings, female_attribute_ids, female_gen_labels, male_embeddings, male_attribute_ids, male_gen_labels

In [4]:
def get_examples(embeddings, gen_labels, attribute_ids, logits, rand_seed, train=True):
    random.seed(rand_seed)
    female_embeddings = []
    male_embeddings = []
    female_gen_labels = []
    male_gen_labels = []
    female_attribute_ids = []
    male_attribute_ids = []
    female_logits = []
    male_logits = []

    # print(len(gen_labels))
    for key,i in enumerate(gen_labels):
        # print(i)
        if i==0:
            if logits[key]<-0:
                female_embeddings.append(embeddings[key])
                female_gen_labels.append(i)
                female_attribute_ids.append(attribute_ids[key])
                female_logits.append(logits[key])
                # print(key)
        else:
            if logits[key]>0:
                male_embeddings.append(embeddings[key])
                # print(embeddings[key])
                male_gen_labels.append(i)
                male_attribute_ids.append(attribute_ids[key])
                male_logits.append(logits[key])

    female_embeddings = torch.tensor(np.array(female_embeddings))
    female_attribute_ids = torch.tensor(np.array(female_attribute_ids))
    female_gen_labels = torch.tensor(np.array(female_gen_labels))
    female_logits = torch.tensor(np.array(female_logits))
    
    male_embeddings = torch.tensor(np.array(male_embeddings))
    male_attribute_ids = torch.tensor(np.array(male_attribute_ids))
    male_gen_labels = torch.tensor(np.array(male_gen_labels))
    male_logits = torch.tensor(np.array(male_logits))
    
    return female_embeddings, female_attribute_ids, female_gen_labels, female_logits, male_embeddings, male_attribute_ids, male_gen_labels, male_logits

In [5]:
# with open('../viz/2_attribute_embeddings_80000_150_tokens_balanced_2000/embeddings.pkl', 'rb') as f:
#         embeddings = pickle.load(f)
# with open('../viz/2_attribute_embeddings_80000_150_tokens_balanced_2000/gender.pkl', 'rb') as f:
#         gen_labels = pickle.load(f)
# with open('../viz/2_attribute_embeddings_80000_150_tokens_balanced_2000/token_ids.pkl', 'rb') as f:
#         attribute_ids = pickle.load(f)
# with open('../viz/2_attribute_embeddings_80000_150_tokens_balanced_2000/logits.pkl', 'rb') as f:
#         logits = pickle.load(f)

In [6]:
# import json

# with open('eval_gender_pairs.json') as f:
#     d = json.load(f)
# male_eval_words = [i[0] for i in d]
# female_eval_words = [i[1] for i in d]

In [7]:
# import random
# train_limit = int(0.99*len(embeddings))
# random.Random(4).shuffle(embeddings)
# random.Random(4).shuffle(gen_labels)
# random.Random(4).shuffle(attribute_ids)
# embeddings = embeddings[:train_limit]
# gen_labels = gen_labels[:train_limit]
# attribute_ids = attribute_ids[:train_limit]
# logits = logits[:train_limit]

# # test_embeddings = embeddings[train_limit:]
# # test_gen_labels = gen_labels[train_limit:]
# # test_attribute_ids = attribute_ids[train_limit:]
# # test_logits = logits[train_limit:]

In [8]:
attribute_pair = "african_european"
model_path = "bertflow_model_"+attribute_pair
bertflow = torch.load( model_path+'/bertflow_rho_0999_factors_6.pth')

#########TEST#################

In [9]:
from transformers import BertTokenizer, BertForMaskedLM
tokenizer = BertTokenizer.from_pretrained('bert-base-uncased')
vocabs = tokenizer.get_vocab()
vv = dict((v,k) for k,v in vocabs.items())

embedding_decoder = BertForMaskedLM.from_pretrained("bert-base-uncased").cls.cuda()
def decode_emb(emb):
    embedding_decoder.eval()
    with torch.no_grad():
        logits_list = embedding_decoder(torch.tensor(emb))
        id_list = torch.argmax(logits_list, dim=1)
        return id_list

Some weights of the model checkpoint at bert-base-uncased were not used when initializing BertForMaskedLM: ['bert.pooler.dense.bias', 'bert.pooler.dense.weight', 'cls.seq_relationship.bias', 'cls.seq_relationship.weight']
- This IS expected if you are initializing BertForMaskedLM from the checkpoint of a model trained on another task or with another architecture (e.g. initializing a BertForSequenceClassification model from a BertForPreTraining model).
- This IS NOT expected if you are initializing BertForMaskedLM from the checkpoint of a model that you expect to be exactly identical (initializing a BertForSequenceClassification model from a BertForSequenceClassification model).

In [10]:
# from torch.utils.data import TensorDataset

# with open('../1_viz/first_attribute_embeddings_'+attribute_pair+'/embeddings_'+str(2779)+'.pkl', 'rb') as f:
#     embeddings1 = pickle.load(f)
# with open('../1_viz/first_attribute_embeddings_'+attribute_pair+'/gender_'+str(2779)+'.pkl', 'rb') as f:
#         gen_labels1 = pickle.load(f)
# with open('../1_viz/first_attribute_embeddings_'+attribute_pair+'/token_ids_'+str(2779)+'.pkl', 'rb') as f:
#         attribute_ids1 = pickle.load(f)
# # with open('../1_viz/first_attribute_embeddings_'+attribute_pair+'/logits_'+str(2779)+'.pkl', 'rb') as f:
# #         logits1 = pickle.load(f)


# female_embeddings1, female_attribute_ids1, female_gen_labels1, male_embeddings1, male_attribute_ids1, male_gen_labels1 = get_examples1(embeddings1, gen_labels1, attribute_ids1, train=False)
# # female_data_pairs_test1 = TensorDataset(female_embeddings1, female_attribute_ids1, female_gen_labels1)
# male_data_pairs_test1 = TensorDataset(male_embeddings1, male_attribute_ids1, male_gen_labels1)

# # female_dataloader1 = DataLoader(
# #             female_data_pairs_test1,  # The training samples.
# #             sampler = None, #RandomSampler(female_data_pairs_test), # Select batches randomly
# #             batch_size = 20 # Trains with this batch size.
# #         )

# male_dataloader1 = DataLoader(
#             male_data_pairs_test1,  # The training samples.
#             sampler = None, #RandomSampler(male_data_pairs_test), # Select batches randomly
#             batch_size = 20 # Trains with this batch size.
#         )





# bertflow.eval()

# female_z_list = []
# male_z_list = []
# f_embs = []
# m_embs = []
# f_ids = []
# m_ids = []
# f_logits = []
# m_logits = []

# # For each batch of training data...
# bertflow.eval()
# with torch.no_grad():
#     # for step, f_batch in enumerate(female_dataloader1):
#     #     # print(f_batch.shape)
#     #     embs = f_batch[0]
#     #     ids = f_batch[1]
#     #     # logit_v = f_batch[3]
#     #     # print(embs.shape)
#     #     female_z = bertflow(embs.to(device), return_loss=False)  # Here z is the sentence embedding
#     #     female_z_list.append(female_z)
#     #     f_embs.append(embs)
#     #     f_ids.append(ids)
#     #     # f_logits.append(logit_v)
#     for step, m_batch in enumerate(male_dataloader1):
#         embs = m_batch[0]
#         ids = m_batch[1]
#         # logit_v = m_batch[3]
#         # gen = m_batch[2]
#         male_z = bertflow(embs.to(device), return_loss=False)  # Here z is the sentence embedding
#         male_z_list.append(male_z)
#         m_embs.append(embs)
#         m_ids.append(ids)
#         # m_logits.append(logit_v)        


# sum_fem = 0
# count = 0
# for j in range(len(male_z_list)):
#     # print("############", j)
#     for k in range(len(male_z_list[j][0])):
#         sum_fem = sum_fem + male_z_list[j][0][k]
#         count+=1
# avg_sum_fem = sum_fem/count

In [11]:
# import copy
# #########generate embeddings in gaussian space#################
# def gen_flow_embs(female_dataloader, male_dataloader):
#     bertflow.eval()
    
#     female_z_list = []
#     male_z_list = []
#     f_embs = []
#     m_embs = []
#     f_ids = []
#     m_ids = []
#     f_logits = []
#     m_logits = []
    
#     # For each batch of training data...
#     bertflow.eval()
#     with torch.no_grad():
#         for step, f_batch in enumerate(female_dataloader):
#             # print(f_batch.shape)
#             embs = f_batch[0]
#             ids = f_batch[1]
#             logit_v = f_batch[3]
#             # print(embs.shape)
#             female_z = bertflow(embs.to(device), return_loss=False)  # Here z is the sentence embedding
#             female_z_list.append(female_z)
#             f_embs.append(embs)
#             f_ids.append(ids)
#             f_logits.append(logit_v)
#         # for step, m_batch in enumerate(male_dataloader):
#         #     embs = m_batch[0]
#         #     ids = m_batch[1]
#         #     logit_v = m_batch[3]
#         #     # gen = m_batch[2]
#         #     male_z = bertflow(embs.to(device), return_loss=False)  # Here z is the sentence embedding
#         #     male_z_list.append(male_z)
#         #     m_embs.append(embs)
#         #     m_ids.append(ids)
#         #     m_logits.append(logit_v)

#     new_female_z_list = copy.deepcopy(female_z_list)
#     # new_male_z_list = copy.deepcopy(male_z_list)

#     gender_transfer_count = 0
#     semantic_transfer_count = 0
#     non_conversion_count = 0
#     original_old_word = []
#     old_word = []
#     old_id = []
#     new_word = []
#     new_id = []
#     gender = []
#     logit_vals = []

#     # sum_fem = 0
#     # count = 0
#     # for j in range(len(male_z_list)):
#     #     # print("############", j)
#     #     for k in range(len(male_z_list[j][0])):
#     #         sum_fem = sum_fem + male_z_list[j][0][k]
#     #         count+=1
#     # avg_sum_fem = sum_fem/count

#     for j in range(len(female_z_list)):
#         for k in range(len(female_z_list[j][0])):
#         # part1 = torch.tensor([female_z[0][0][15].cpu().detach().numpy() for i in female_z[0][0]])
#             # new_male_z_list[j][0][0][k] = female_z_list[j][0][0][k]
#             new_female_z_list[j][0][k] = avg_sum_fem
        
            
#         eee = bertflow(new_female_z_list[j], reverse=True)
#         eee = torch.squeeze(eee)
#         ffff = decode_emb(eee)
#         ffff
#         for key,i in enumerate(decode_emb(f_embs[j][:,:].to(device))):
#             # if f_logits[j][key].item() < -10:
#             original_old_word.append(vv[f_ids[j][key].item()])
#             old_word.append(vv[i.item()])
#             old_id.append(i.item())
#             new_word.append(vv[ffff[key].item()])
#             new_id.append(ffff[key].item())
#             gender.append(1)
#             logit_vals.append(f_logits[j][key].item())
    
#     return original_old_word, old_word, old_id, new_word, new_id, gender, logit_vals

In [12]:
def gen_flow_embs1(male_dataloader):
    bertflow.eval()
    
    female_z_list = []
    male_z_list = []
    f_embs = []
    m_embs = []
    f_ids = []
    m_ids = []
    f_logits = []
    m_logits = []
    
    # For each batch of training data...
    bertflow.eval()
    with torch.no_grad():
        # for step, f_batch in enumerate(female_dataloader):
        #     # print(f_batch.shape)
        #     embs = f_batch[0]
        #     ids = f_batch[1]
        #     logit_v = f_batch[3]
        #     # print(embs.shape)
        #     female_z = bertflow(embs.to(device), return_loss=False)  # Here z is the sentence embedding
        #     female_z_list.append(female_z)
        #     f_embs.append(embs)
        #     f_ids.append(ids)
        #     f_logits.append(logit_v)
        for step, m_batch in enumerate(male_dataloader):
            embs = m_batch[0]
            ids = m_batch[1]
            logit_v = m_batch[3]
            # gen = m_batch[2]
            male_z = bertflow(embs.to(device), return_loss=False)  # Here z is the sentence embedding
            male_z_list.append(male_z)
            m_embs.append(embs)
            m_ids.append(ids)
            m_logits.append(logit_v)

    new_female_z_list = copy.deepcopy(female_z_list)
    # new_male_z_list = copy.deepcopy(male_z_list)

    # gender_transfer_count = 0
    # semantic_transfer_count = 0
    # non_conversion_count = 0
    # original_old_word = []
    # old_word = []
    # old_id = []
    # new_word = []
    # new_id = []
    # gender = []
    # logit_vals = []

    sum_fem = 0
    count = 0
    for j in range(len(male_z_list)):
        # print("############", j)
        for k in range(len(male_z_list[j][0])):
            sum_fem = sum_fem + male_z_list[j][0][k]
            count+=1
    avg_sum_fem = sum_fem/count
    return avg_sum_fem

In [13]:
import copy
#########generate embeddings in gaussian space#################
def gen_flow_embs(female_dataloader, male_dataloader, avg_sum_fem):
    bertflow.eval()
    
    female_z_list = []
    male_z_list = []
    f_embs = []
    m_embs = []
    f_ids = []
    m_ids = []
    f_logits = []
    m_logits = []
    
    # For each batch of training data...
    bertflow.eval()
    with torch.no_grad():
        for step, f_batch in enumerate(female_dataloader):
            # print(f_batch.shape)
            embs = f_batch[0]
            ids = f_batch[1]
            logit_v = f_batch[3]
            # print(embs.shape)
            female_z = bertflow(embs.to(device), return_loss=False)  # Here z is the sentence embedding
            female_z_list.append(female_z)
            f_embs.append(embs)
            f_ids.append(ids)
            f_logits.append(logit_v)
        # for step, m_batch in enumerate(male_dataloader):
        #     embs = m_batch[0]
        #     ids = m_batch[1]
        #     logit_v = m_batch[3]
        #     # gen = m_batch[2]
        #     male_z = bertflow(embs.to(device), return_loss=False)  # Here z is the sentence embedding
        #     male_z_list.append(male_z)
        #     m_embs.append(embs)
        #     m_ids.append(ids)
        #     m_logits.append(logit_v)

    new_female_z_list = copy.deepcopy(female_z_list)
    # new_male_z_list = copy.deepcopy(male_z_list)

    gender_transfer_count = 0
    semantic_transfer_count = 0
    non_conversion_count = 0
    original_old_word = []
    old_word = []
    old_id = []
    new_word = []
    new_id = []
    gender = []
    logit_vals = []

    # sum_fem = 0
    # count = 0
    # for j in range(len(male_z_list)):
    #     # print("############", j)
    #     for k in range(len(male_z_list[j][0])):
    #         sum_fem = sum_fem + male_z_list[j][0][k]
    #         count+=1
    # avg_sum_fem = sum_fem/count

    for j in range(len(female_z_list)):
        for k in range(len(female_z_list[j][0])):
        # part1 = torch.tensor([female_z[0][0][15].cpu().detach().numpy() for i in female_z[0][0]])
            # new_male_z_list[j][0][0][k] = female_z_list[j][0][0][k]
            new_female_z_list[j][0][k] = avg_sum_fem
        
            
        eee = bertflow(new_female_z_list[j], reverse=True)
        eee = torch.squeeze(eee)
        ffff = decode_emb(eee)
        ffff
        for key,i in enumerate(decode_emb(f_embs[j][:,:].to(device))):
            # if f_logits[j][key].item() < -10:
            original_old_word.append(vv[f_ids[j][key].item()])
            old_word.append(vv[i.item()])
            old_id.append(i.item())
            new_word.append(vv[ffff[key].item()])
            new_id.append(ffff[key].item())
            gender.append(1)
            logit_vals.append(f_logits[j][key].item())
    
    return original_old_word, old_word, old_id, new_word, new_id, gender, logit_vals

In [14]:
# for i in male_logits:
#     print(i)

In [15]:
from torch.utils.data import TensorDataset



original_old_word = []
old_word = []
old_id = []
new_word = []
new_id = []
gender = []
logit_vals = []


for jj in range(1,2):
    for iteration in range(20000,21000,20000):
        print(iteration)
    
        # with open('../1_viz/attribute_embeddings/embeddings_1000.pkl', 'rb') as f:
        #     embeddings = pickle.load(f)
        # with open('../1_viz/attribute_embeddings/gender_1000.pkl', 'rb') as f:
        #     gen_labels = pickle.load(f)
        # with open('../1_viz/attribute_embeddings/token_ids_1000.pkl', 'rb') as f:
        #     attribute_ids = pickle.load(f)
        with open('../1_viz/attribute_embeddings_'+attribute_pair+'/embeddings_'+str(iteration)+'.pkl', 'rb') as f:
            embeddings = pickle.load(f)
        with open('../1_viz/attribute_embeddings_'+attribute_pair+'/gender_'+str(iteration)+'.pkl', 'rb') as f:
                gen_labels = pickle.load(f)
        with open('../1_viz/attribute_embeddings_'+attribute_pair+'/token_ids_'+str(iteration)+'.pkl', 'rb') as f:
                attribute_ids = pickle.load(f)
        with open('../1_viz/attribute_embeddings_'+attribute_pair+'/logits_'+str(iteration)+'.pkl', 'rb') as f:
                logits = pickle.load(f)

    
        start_ind = 0
        end_ind = 0
        # ratio = 10000
        ratio = len(attribute_ids)
        
        for i in range(int(len(attribute_ids)/ratio)):
            print(i)
            end_ind+=ratio
            female_embeddings, female_attribute_ids, female_gen_labels, female_logits, male_embeddings, male_attribute_ids, male_gen_labels, male_logits = get_examples(embeddings[start_ind:end_ind], gen_labels[start_ind:end_ind], attribute_ids[start_ind:end_ind], logits[start_ind:end_ind], 1, train=False)
            female_data_pairs_test = TensorDataset(female_embeddings, female_attribute_ids, female_gen_labels, female_logits)
            male_data_pairs_test = TensorDataset(male_embeddings, male_attribute_ids, male_gen_labels, male_logits)
            
            female_dataloader = DataLoader(
                        female_data_pairs_test,  # The training samples.
                        sampler = None, #RandomSampler(female_data_pairs_test), # Select batches randomly
                        batch_size = 20 # Trains with this batch size.
                    )
            
            male_dataloader = DataLoader(
                        male_data_pairs_test,  # The training samples.
                        sampler = None, #RandomSampler(male_data_pairs_test), # Select batches randomly
                        batch_size = 20 # Trains with this batch size.
                    )
            start_ind += ratio
            # try:
            # print((female_embeddings.shape), (male_embeddings.shape))
            avg_sum_fem = gen_flow_embs1(male_dataloader)
            original_old_word_temp, old_word_temp, old_id_temp, new_word_temp, new_id_temp, gender_temp, logit_vals_temp = gen_flow_embs(female_dataloader, male_dataloader, avg_sum_fem)
            original_old_word+= original_old_word_temp
            old_word+= old_word_temp
            old_id+= old_id_temp
            new_word+= new_word_temp
            new_id+= new_id_temp
            gender+= gender_temp
            logit_vals+= logit_vals_temp
            # except:
            #     original_old_word_temp, old_word_temp, old_id_temp, new_word_temp, new_id_temp, gender_temp, logit_vals_temp
            #     print(len(male_dataloader), len(female_dataloader))

20000
0

/tmp/ipykernel_78755/1076840909.py:10: UserWarning: To copy construct from a tensor, it is recommended to use sourceTensor.clone().detach() or sourceTensor.clone().detach().requires_grad_(True), rather than torch.tensor(sourceTensor).
  logits_list = embedding_decoder(torch.tensor(emb))

In [16]:
len(male_dataloader)

777

In [17]:
# embeddings[start_ind:end_ind]

In [18]:
# len(embeddings)

In [19]:
lst = [original_old_word, old_word, old_id, new_word, new_id, gender, logit_vals]

In [20]:
# len(original_old_word)

In [21]:
dict = {'original_old_word': original_old_word, 'old_word': old_word, 'old_id': old_id, 'new_word': new_word, 'new_id': new_id, 'gender': gender, 'logits': logit_vals}
df = pd.DataFrame(dict)
df["count"] = 1 
df

,original_old_word,old_word,old_id,new_word,new_id,gender,logits,count
0,maize,maize,21154,european,2647,1,-10.360230,1
1,corn,corn,9781,corn,9781,1,-9.948413,1
2,african,african,3060,european,2647,1,-21.796511,1
3,ant,ant,14405,ant,14405,1,-10.193929,1
4,bananas,bananas,26191,bananas,26191,1,-10.219945,1
...,...,...,...,...,...,...,...,...
53196,ito,ito,23333,ec,14925,1,-10.753832,1
53197,##we,##we,8545,eu,7327,1,-10.706676,1
53198,gorilla,gorilla,23526,western,2530,1,-16.715841,1
53199,dr,dr,2852,other,2060,1,-10.501709,1
53200,evangelist,evangelist,24036,##centric,22461,1,-9.498723,1

In [22]:
filter = df['original_old_word'].str.contains("##")
df = df[~filter]
filter = df['original_old_word'].str.contains("[CLS]")
df = df[~filter]
filter = df['original_old_word'].str.contains("[SEP]")
df = df[~filter]
filter = df['original_old_word'].str.contains("[PAD]")
df = df[~filter]

In [48]:
# count = 0
# female_final = []
# for index, row in df.iterrows():
#     # try:
#     if (row['original_old_word'] != row['new_word']):
#         female_final.append([row['original_old_word'], row['new_word']])
#         count+=1
#         # print(row['original_old_word'], row['new_word'],count)
#     # except:
#     #     (row['female'], row['male'])
# female_final = pd.DataFrame(female_final)
# female_final = female_final.rename(columns={0: 'original_old_word', 1: 'new_word'})
# female_final

In [47]:
# df_stats_final = female_final.groupby(['original_old_word'])['new_word'].agg(pd.Series.mode).to_frame()
# df_stats_final["original_old_word"] = df_stats_final.index
# df_stats_final

In [46]:
# print(df_stats_final.to_string())

In [26]:
# # df_stats = df
# df_stats_final = pd.DataFrame(female_final.groupby(['original_old_word'])['new_word'].agg(pd.Series.mode))
# # df_stats_final["var"] = pd.DataFrame(female_final.groupby(['original_old_word'])['logits'].agg('var'))
# # df_stats_final["original_word_count"] = female_final.DataFrame(df.groupby(['original_old_word'])['count'].agg('sum'))
# # df_stats_final["original_old_word"] = df_stats_final.index

# df_stats_final = df_stats_final.reset_index(drop=True)
# df_stats_final

                new_word
0                      s
1                      s
2                     eu
3               european
4               european
..                   ...
851          [co, d, un]
852                latin
853  [english, medieval]
854             european
855                   eu

[856 rows x 1 columns]

In [27]:
# female_final

      original_old_word   new_word
0                 maize   european
1               african   european
2              africans  countries
3                africa     europe
4              ethiopia      later
...                 ...        ...
20944           gorilla    western
20945               ito         ec
20946           gorilla    western
20947                dr      other
20948        evangelist  ##centric

[20949 rows x 2 columns]

In [28]:
df.to_csv('female_male_full_pairs_'+attribute_pair+'.csv', index=False)

In [29]:
# df_stats = df
df_stats = pd.DataFrame(df.groupby(['original_old_word'])['logits'].agg('mean'))
df_stats["var"] = pd.DataFrame(df.groupby(['original_old_word'])['logits'].agg('var'))
df_stats["original_word_count"] = pd.DataFrame(df.groupby(['original_old_word'])['count'].agg('sum'))
df_stats["original_old_word"] = df_stats.index

df_stats = df_stats.reset_index(drop=True)

In [30]:
df_stats

         logits       var  original_word_count original_old_word
0     -9.441541       NaN                    1                 "
1     -9.814542  0.522413                   22                 '
2     -9.547699  0.195233                   21                 -
3     -9.230884       NaN                    1              1966
4    -10.724882       NaN                    1                23
...         ...       ...                  ...               ...
1342 -10.225252  0.653999                    9                zu
1343 -14.868702  4.470425                  150              zulu
1344  -9.569751  0.189960                   11                 ʿ
1345  -9.471662  0.172891                   38                 α
1346  -9.477901  0.126265                    6                 ا

[1347 rows x 4 columns]

In [31]:
df_stats = df_stats.sort_values('original_word_count', ascending=False)
df_stats.head(50)

         logits       var  original_word_count original_old_word
452  -12.843046  8.055965                  150              east
738  -10.743741  1.366201                  150                ki
791  -10.748596  0.799593                  150             libya
792  -12.182207  1.830697                  150            libyan
782  -11.618973  1.923610                  150             leone
783  -10.299981  0.774853                  150           leopard
1266 -12.081768  1.683302                  150           tunisia
1267 -12.702771  2.227574                  150          tunisian
53   -18.893459  5.245274                  150            africa
471  -10.008586  0.698231                  150                el
505  -11.760524  2.028297                  150         ethiopian
497  -12.306122  1.774047                  150           eritrea
504  -10.690696  1.096037                  150          ethiopia
492  -10.433568  1.032801                  150          enslaved
404  -10.622586  1.581244                  150                da
1208 -15.129545  2.181844                  150             sudan
1188 -12.103167  3.045574                  150             south
1190 -11.253638  3.152008                  150          southern
1192  -9.996895  0.638162                  150               soy
124  -14.623071  2.245300                  150            angola
128  -10.021100  0.851303                  150               ant
1228 -12.806991  1.101870                  150          tanzania
78   -10.373403  0.922782                  150           alabama
87   -11.682063  1.603883                  150           algeria
88   -11.733458  2.138981                  150          algerian
533  -10.435422  0.839011                  150             freed
412  -12.493700  1.717203                  150        democratic
537  -12.323218  2.261387                  150                ga
542  -12.306408  2.147151                  150            gambia
1336 -12.051732  2.202797                  150                za
1341 -15.822843  2.192953                  150          zimbabwe
359  -11.272058  1.708434                  150             coast
554  -12.415159  2.115099                  150             ghana
379  -14.614719  2.833908                  150             congo
369  -11.859631  3.265676                  150             color
370  -14.411134  9.390801                  150           colored
225  -10.600395  1.124715                  150           baptist
10   -11.247081  2.008337                  150               aba
13   -10.160394  0.687234                  150               abd
26   -12.388922  1.628875                  150               acc
22   -11.189020  3.445851                  150               abu
1330 -10.151207  0.863702                  150             yemen
1151 -12.723553  3.653930                  150           senegal
1174 -10.572343  1.169069                  150             slave
1167 -11.820564  2.350852                  150            sierra
1145 -11.736150  3.301375                  150       segregation
1183 -10.594816  1.967815                  150            somali
1184 -11.605026  1.334265                  150           somalia
920  -11.090031  1.768452                  150        mozambique
713  -11.256353  1.689306                  150                ka

In [32]:
df['original_old_word'].value_counts()

original_old_word
east        150
africans    150
saharan     150
somalia     150
ant         150
           ...
coco          1
boogie        1
lung          1
le            1
out           1
Name: count, Length: 1347, dtype: int64

In [33]:
final_df = pd.DataFrame(df.groupby('original_old_word').new_word.agg(lambda x : x.mode())) # .reset_index()
final_df["original_old_word"] = final_df.index
final_df = final_df.reset_index(drop=True)
final_df

     new_word original_old_word
0           "                 "
1           '                 '
2           -                 -
3        1966              1966
4          23                23
...       ...               ...
1342       zu                zu
1343     zulu              zulu
1344        ʿ                 ʿ
1345        α                 α
1346        ا                 ا

[1347 rows x 2 columns]

In [34]:
df_stats = pd.merge(df_stats, final_df, how='inner', on=['original_old_word'])
df_stats

         logits       var  original_word_count original_old_word new_word
0    -12.843046  8.055965                  150              east     east
1    -10.743741  1.366201                  150                ki       ki
2    -10.748596  0.799593                  150             libya    libya
3    -12.182207  1.830697                  150            libyan   libyan
4    -11.618973  1.923610                  150             leone    leone
...         ...       ...                  ...               ...      ...
1342 -11.858043       NaN                    1              band     band
1343 -10.347375       NaN                    1               bai        -
1344 -10.035360       NaN                    1           bahamas  bahamas
1345  -9.676406       NaN                    1               bad      bad
1346 -11.535405       NaN                    1               och      och

[1347 rows x 5 columns]

In [35]:
df_stats[df_stats["original_old_word"]=="her"]

Empty DataFrame
Columns: [logits, var, original_word_count, original_old_word, new_word]
Index: []

In [36]:
# df_stats = df_stats.dropna()

In [37]:
df_stats = df_stats.sort_values('logits', ascending=True)
df_stats.head(50)

,logits,var,original_word_count,original_old_word,new_word
97,-22.750923,6.333617,150,african,european
101,-19.633844,6.220272,150,afro,european
8,-18.893459,5.245274,150,africa,europe
76,-16.439695,7.698027,150,negro,european
98,-16.015917,5.446305,150,africans,europeans
30,-15.822843,2.192953,150,zimbabwe,european
229,-15.618771,3.360869,63,abyss,western
62,-15.585097,3.786746,150,mali,mali
112,-15.511767,1.655062,147,malawi,malawi
244,-15.244792,2.119563,56,sudanese,"[german, sudanese]"
15,-15.129545,2.181844,150,sudan,sudan
102,-14.868702,4.470425,150,zulu,zulu
150,-14.774666,4.227652,108,asha,asha
1264,-14.729460,NaN,1,combo,""""
126,-14.653339,1.917453,132,chad,chad
95,-14.626222,10.416135,150,black,black
19,-14.623071,2.245300,150,angola,european
33,-14.614719,2.833908,150,congo,congo
35,-14.411134,9.390801,150,colored,colored
87,-14.142025,3.720064,150,ivory,"[french, ivory]"
286,-14.025151,5.978749,45,adam,adam
78,-14.021879,4.755184,150,apartheid,colonial
93,-13.886771,1.386217,150,botswana,european
1023,-13.593992,NaN,1,sai,sai
165,-13.563387,1.090596,100,faso,faso
74,-13.486215,2.217352,150,nigerian,european
297,-13.366836,2.554201,42,cote,cote
88,-13.364989,2.301313,150,johannesburg,european
1075,-13.301487,NaN,1,alexandra,-
57,-13.217266,2.191901,150,benin,benin
132,-13.210501,2.228704,128,natal,natal
85,-13.206206,2.121507,150,niger,"[european, niger]"
534,-13.167582,0.501625,11,elisabeth,ec
131,-13.157272,3.400282,128,hara,hara
189,-13.065382,3.266710,84,ivo,ivo
117,-13.052590,5.980231,141,af,af
113,-13.035796,1.934621,146,cameroon,cameroon
213,-12.984537,2.239465,67,mba,.
73,-12.970061,1.873335,150,nigeria,europe
315,-12.962778,5.530780,37,kala,european
115,-12.938544,2.539136,144,rhodesia,british
766,-12.851304,7.872843,4,orlando,"[orlando, the]"
0,-12.843046,8.055965,150,east,east
53,-12.824948,3.988207,150,asian,asian
21,-12.806991,1.101870,150,tanzania,tanzania
934,-12.764111,0.996154,2,colonies,colonies
72,-12.760036,4.434795,150,saharan,saharan
519,-12.739282,2.130808,12,mbe,sas
239,-12.734481,2.034154,58,ghanaian,ghanaian
42,-12.723553,3.653930,150,senegal,french

In [38]:
df_stats.to_csv('female_male_pairs_'+attribute_pair+'.csv', index=False)

In [39]:
df_stats_keep = df_stats[df_stats["original_word_count"]>2]
df_stats_discard = df_stats[df_stats["original_word_count"]<3]

In [40]:
# # df1 = df_stats[['original_old_word','new_word']]
# df_stats[df1.eq(df1.iloc[:, 0], axis=0).all(axis=1)]

In [41]:
df_stats_keep

,logits,var,original_word_count,original_old_word,new_word
97,-22.750923,6.333617,150,african,european
101,-19.633844,6.220272,150,afro,european
8,-18.893459,5.245274,150,africa,europe
76,-16.439695,7.698027,150,negro,european
98,-16.015917,5.446305,150,africans,europeans
...,...,...,...,...,...
822,-9.098877,0.001276,3,bio,bio
837,-9.083066,0.013399,3,islam,"[european, foreign, islam]"
799,-9.083007,0.010672,3,amino,amino
865,-9.067478,0.012462,3,afghan,afghan
853,-9.048577,0.000833,3,caf,caf

In [42]:
print(df_stats_keep.to_string())

        logits        var  original_word_count original_old_word                                       new_word
97  -22.750923   6.333617                  150           african                                       european
101 -19.633844   6.220272                  150              afro                                       european
8   -18.893459   5.245274                  150            africa                                         europe
76  -16.439695   7.698027                  150             negro                                       european
98  -16.015917   5.446305                  150          africans                                      europeans
30  -15.822843   2.192953                  150          zimbabwe                                       european
229 -15.618771   3.360869                   63             abyss                                        western
62  -15.585097   3.786746                  150              mali                                           mali
112 -15.511767   1.655062                  147            malawi                                         malawi
244 -15.244792   2.119563                   56          sudanese                             [german, sudanese]
15  -15.129545   2.181844                  150             sudan                                          sudan
102 -14.868702   4.470425                  150              zulu                                           zulu
150 -14.774666   4.227652                  108              asha                                           asha
126 -14.653339   1.917453                  132              chad                                           chad
95  -14.626222  10.416135                  150             black                                          black
19  -14.623071   2.245300                  150            angola                                       european
33  -14.614719   2.833908                  150             congo                                          congo
35  -14.411134   9.390801                  150           colored                                        colored
87  -14.142025   3.720064                  150             ivory                                [french, ivory]
286 -14.025151   5.978749                   45              adam                                           adam
78  -14.021879   4.755184                  150         apartheid                                       colonial
93  -13.886771   1.386217                  150          botswana                                       european
165 -13.563387   1.090596                  100              faso                                           faso
74  -13.486215   2.217352                  150          nigerian                                       european
297 -13.366836   2.554201                   42              cote                                           cote
88  -13.364989   2.301313                  150      johannesburg                                       european
57  -13.217266   2.191901                  150             benin                                          benin
132 -13.210501   2.228704                  128             natal                                          natal
85  -13.206206   2.121507                  150             niger                              [european, niger]
534 -13.167582   0.501625                   11         elisabeth                                             ec
131 -13.157272   3.400282                  128              hara                                           hara
189 -13.065382   3.266710                   84               ivo                                            ivo
117 -13.052590   5.980231                  141                af                                             af
113 -13.035796   1.934621                  146          cameroon                                       cameroon
213 -12.984537   2.239465                   67               mba                                              .
73  -12.970061   1.873335                  150           nigeria                                         europe
315 -12.962778   5.530780                   37              kala                                       european
115 -12.938544   2.539136                  144          rhodesia                                        british
766 -12.851304   7.872843                    4           orlando                                 [orlando, the]
0   -12.843046   8.055965                  150              east                                           east
53  -12.824948   3.988207                  150             asian                                          asian
21  -12.806991   1.101870                  150          tanzania                                       tanzania
72  -12.760036   4.434795                  150           saharan                                        saharan
519 -12.739282   2.130808                   12               mbe                                            sas
239 -12.734481   2.034154                   58          ghanaian                                       ghanaian
42  -12.723553   3.653930                  150           senegal                                         french
7   -12.702771   2.227574                  150          tunisian                                       european
163 -12.701797   1.367822                  101           burkina                                        burkina
66  -12.695804   2.174877                  150              cape                                           cape
183 -12.665389   1.467600                   87              kata                                           kata
96  -12.556605   2.176337                  150             kenya                                          kenya
317 -12.543904   3.517128                   36                es                                             es
175 -12.532310   5.357262                   92               aka                                            aka
272 -12.532016   3.239144                   48            durban                                       european
26  -12.493700   1.717203                  150        democratic                                     democratic
32  -12.415159   2.115099                  150             ghana                                          ghana
665 -12.414189   3.532074                    6              sank                                      [', sank]
706 -12.398582   1.028962                    5               mma                                            set
39  -12.388922   1.628875                  150               acc                                            acc
661 -12.364664   5.377197                    6              bala                                       european
65  -12.323544   3.218624                  150           central                                        central
27  -12.323218   2.261387                  150                ga                                             ga
28  -12.306408   2.147151                  150            gambia                                        british
11  -12.306122   1.774047                  150           eritrea                                        eritrea
711 -12.304616   0.586388                    5             jacob                                          jacob
174 -12.294962   5.027339                   93        equatorial                                     equatorial
81  -12.265680   2.609356                  150            blacks                                         blacks
354 -12.257696   3.961451                   31               asa                                            asa
139 -12.218684   2.022626                  121               bam                                            bam
94  -12.196761   1.355019                  150              boer                                        british
805 -12.189075   6.707326                    3              anya                                           anya
3   -12.182207   1.830697                  150            libyan                                         libyan
321 -12.128019   4.112726                   36                so                                             so
108 -12.122626   1.747403                  149            zambia                                         zambia
511 -12.115986   1.076595                   12                kg                                             kg
645 -12.112065   2.703279                    6              mule          [##t, ,, european, mer, mule, second]
16  -12.103167   3.045574                  150             south                                          south
6   -12.081768   1.683302                  150           tunisia                                         europe
269 -12.071949   3.712698                   49               dar                                            dar
29  -12.051732   2.202797                  150                za                                             za
230 -12.047442   2.773730                   62               ngo                                            ngo
145 -12.039785   1.668276                  112           liberia                                        liberia
336 -12.038593   2.931506                   34                aj                                             aj
596 -12.032030   1.342947                    8               nwa                                       [-, nwa]
260 -12.028379   2.614729                   51          pretoria                                       pretoria
209 -12.015107   3.639268                   70           leopold                                        leopold
220 -11.984151   2.296419                   65             gabon                                          gabon
118 -11.983147   1.521645                  139         transvaal                                        british
358 -11.967185   1.881436                   30               sal                                            sal
247 -11.961939   3.886174                   55          coloured                                       coloured
169 -11.933033   2.243261                   98                yo                                       european
248 -11.911972   2.349195                   55            kenyan                                        british
496 -11.869981   2.742559                   14         elizabeth                                      elizabeth
655 -11.866712   1.892261                    6                nc                                             nc
34  -11.859631   3.265676                  150             color                                          color
502 -11.858509   3.350387                   13               adi                                             eu
356 -11.839332   1.258717                   30               dod                                            dod
252 -11.834206   1.991017                   54             volta                                          volta
783 -11.831096   1.777610                    3                ul                                       european
195 -11.823828   1.642016                   81               bra                                            bra
44  -11.820564   2.350852                  150            sierra                                           west
109 -11.785600   2.143417                  149                sw                                             sw
542 -11.780823   2.153740                   11              here                                           here
10  -11.760524   2.028297                  150         ethiopian                                       european
103 -11.755675   1.324538                  150            uganda                                         uganda
45  -11.736150   3.301375                  150       segregation                                    segregation
24  -11.733458   2.138981                  150          algerian                                         french
492 -11.730123   1.350954                   14               sho                                            sho
91  -11.706538   1.948034                  150               mag                                       european
754 -11.703586   2.783312                    4                mg                            [fe, mg, public, q]
23  -11.682063   1.603883                  150           algeria                                         europe
603 -11.670690   1.297524                    8               bel                                            bel
92  -11.654928   1.259452                  150                lu                                             lu
4   -11.618973   1.923610                  150             leone                                          leone
47  -11.605026   1.334265                  150           somalia                                        somalia
50  -11.587573   1.006794                  150               kin                                            kin
357 -11.580865   2.524129                   30             samba                                          samba
90  -11.580186   1.447628                  150             lagos                                          lagos
206 -11.564900   2.028983                   73                 x                                              x
246 -11.562415   1.385475                   56                gb                                             gb
650 -11.556432   0.203109                    6             maker                                          maker
768 -11.552764   4.007402                    4                op                                             op
745 -11.541147   4.531448                    4            currie                                  international
61  -11.540751   3.730416                  150            indian                                       european
123 -11.539888   2.991329                  136                kw                                             kw
172 -11.510969   4.210388                   94           eastern                                        eastern
597 -11.509661   0.762014                    8               ike                                            ike
129 -11.506448   2.033491                  131               ban                                       european
249 -11.495620   3.735718                   55           gorilla                                        gorilla
592 -11.490776   1.987659                    8               tam                                            tam
785 -11.487389   0.138910                    3           equator                                        equator
75  -11.464054   2.886027                  150              nile                                           nile
54  -11.454683   9.451893                  150              kong                                           kong
208 -11.402554   1.775650                   71              togo                                           togo
474 -11.402203   3.327668                   16              akin                                             eu
408 -11.395005   2.247050                   23         blackness                                      blackness
250 -11.371097   2.823298                   54                an                                             an
450 -11.355478   2.100413                   18              afar                                           afar
287 -11.339160   2.255299                   45            joseph                                         joseph
334 -11.337690   1.175835                   34                mp                                       european
308 -11.335494   0.866507                   38               abe                                            abe
568 -11.321159   1.492823                    9            pieter                                         pieter
577 -11.313934   2.559124                    9                nz                                             nz
333 -11.302060   1.937580                   34               bug                                            bug
682 -11.292879   2.292362                    5              mani                                           mani
324 -11.284800   1.725000                   35               ama                                       european
858 -11.276754   1.348398                    3            molten                           [church, in, molten]
31  -11.272058   1.708434                  150             coast                                          coast
49  -11.256353   1.689306                  150                ka                                             ka
17  -11.253638   3.152008                  150          southern                                       southern
37  -11.247081   2.008337                  150               aba                                       european
698 -11.231073   1.702904                    5              kane                         [ho, kane, l, to, two]
431 -11.230625   1.632213                   20               bas                                            bas
136 -11.223728   1.855613                  124                nk                                             nk
83  -11.203656   1.490663                  150             naacp                                          naacp
225 -11.201380   1.693800                   64         afrikaans                                         german
418 -11.198415   2.522145                   21            kruger                                         kruger
849 -11.197284   1.477185                    3               mor                                            mor
657 -11.197196   1.486822                    6              bass                                           bass
161 -11.189997   1.753634                  102                mb                                             mb
40  -11.189020   3.445851                  150               abu                                            abu
565 -11.173214   2.966590                    9       livingstone                                    livingstone
673 -11.171398   1.869078                    6              meng                                     [in, meng]
394 -11.164604   1.423792                   25               kan                                            kan
204 -11.155198   2.254101                   74                ng                                             ng
106 -11.148378   1.923077                  150             egypt                                         europe
201 -11.143382   1.137601                   75                ts                                             ts
110 -11.142738   1.632115                  149          american                                       american
245 -11.140380   1.646664                   56              gold                                           gold
114 -11.135136   2.205382                  145            guinea                                         guinea
653 -11.134377   3.251169                    6              mole                                           mole
48  -11.090031   1.768452                  150        mozambique                                     mozambique
155 -11.087295   1.241029                  106                sa                                             sa
69  -11.080259   1.798194                  150               ras                                            ras
437 -11.052931   0.879878                   19             libre                                          libre
166 -11.047073   2.329685                  100                ny                                             ny
234 -11.045122   2.332635                   61           mandela                                        mandela

In [43]:
print(df_stats_discard.to_string())

         logits       var  original_word_count original_old_word                new_word
1264 -14.729460       NaN                    1             combo                       "
1023 -13.593992       NaN                    1               sai                     sai
1075 -13.301487       NaN                    1         alexandra                       -
934  -12.764111  0.996154                    2          colonies                colonies
918  -12.616779  0.161891                    2               cfa          [cfa, foreign]
976  -12.510983  0.339591                    2              wang              [bu, wang]
1204 -12.436542       NaN                    1                mk                      mk
1266 -12.420897       NaN                    1           chinese                 chinese
1110 -12.267403       NaN                    1          swallows               crusaders
1026 -11.911312       NaN                    1               yer                  allied
1342 -11.858043       NaN                    1              band                    band
1167 -11.839918       NaN                    1              mats                    mats
994  -11.821272  0.421853                    2              mama      [european, modern]
1141 -11.616690       NaN                    1                fa                      du
1051 -11.597643       NaN                    1              lady                    west
1346 -11.535405       NaN                    1               och                     och
1260 -11.510698       NaN                    1              lund                    lund
1179 -11.505697       NaN                    1               bud                european
959  -11.417512  8.247421                    2              kwan     [european, pacific]
1207 -11.410800       NaN                    1             kanye                   kanye
1337 -11.401117       NaN                    1               nhl                european
941  -11.396481  1.299436                    2           praying                 praying
1013 -11.358153  3.204239                    2              mach                    mach
1279 -11.301371       NaN                    1               gym                  church
1259 -11.301233       NaN                    1                le                      le
1182 -11.297910       NaN                    1                mm                      in
1008 -11.225623  0.979740                    2              dung          [dung, german]
920  -11.218437  6.345027                    2             smith                   smith
929  -11.157369  0.982176                    2               bon                [., bon]
1170 -11.142056       NaN                    1        missionary                 mission
1220 -11.118353       NaN                    1             mount                european
1323 -11.104428       NaN                    1             india                 english
1206 -11.091054       NaN                    1             karim                   karim
1019 -11.078577  0.737426                    2            elijah         [dutch, elijah]
946  -11.020981  0.625811                    2               cis                     cis
964  -10.957638  4.493125                    2               rus                     rus
1254 -10.903382       NaN                    1              lobe                european
1200 -10.895191       NaN                    1              jong                    nord
1056 -10.885071       NaN                    1              gems                       ,
1335 -10.847301       NaN                    1               nsa                      eu
992  -10.845860  1.901947                    2             trans                   trans
980  -10.841340  0.980311                    2             macon                   macon
1123 -10.831029       NaN                    1              sang                    sang
1011 -10.824054  1.652470                    2              mill                    mill
1217 -10.819720       NaN                    1               tak                    ##tc
1292 -10.818749       NaN                    1               kid                     kid
1083 -10.772609       NaN                    1             sunny                   sunny
938  -10.762321  0.005095                    2            pointe             [', pointe]
1320 -10.753832       NaN                    1               ito                      ec
1030 -10.742786       NaN                    1               war                       -
1296 -10.726486       NaN                    1               lao                     lao
1135 -10.725757       NaN                    1             david                    giro
1104 -10.724882       NaN                    1                23                      23
921  -10.713622  0.456290                    2           italian                 italian
880  -10.703582  0.016610                    2                nh                 [', ts]
935  -10.686717  0.444908                    2                nr                      nr
1078 -10.649051       NaN                    1            alfred                   latin
967  -10.632238  3.579367                    2            rivers                  rivers
888  -10.593630  1.814797                    2            oliver                european
1187 -10.570417       NaN                    1            chimed                european
954  -10.565260  0.360655                    2                il          [eu, european]
1198 -10.547828       NaN                    1              bats                    bats
998  -10.527073  2.936115                    2       development             development
971  -10.517004  0.841305                    2            latino                  latino
953  -10.499193  0.029605                    2           florian                 florian
1183 -10.486764       NaN                    1           boycott                 boycott
968  -10.463432  3.544490                    2              lang                    lang
885  -10.447391  0.019609                    2           natives  [inhabitants, natives]
890  -10.423416  1.101976                    2          oriental                northern
1232 -10.420289       NaN                    1              wits                    wits
993  -10.418964  0.432824                    2      transitional            transitional
948  -10.387269  0.009017                    2         customary   [customary, european]
1039 -10.361022       NaN                    1             roots                   roots
1213 -10.354197       NaN                    1         tennessee               tennessee
1343 -10.347375       NaN                    1               bai                       -
1235 -10.327634       NaN                    1            malaya                  malaya
925  -10.315288  1.837097                    2              blue                    blue
892  -10.309839  0.859539                    2              aziz         [aziz, spanish]
999  -10.305003  0.001801                    2            miriam                  miriam
1293 -10.290462       NaN                    1              bomb                      eu
1042 -10.283743       NaN                    1               lab                european
937  -10.280170  1.919791                    2            plains                  plains
1014 -10.267255  1.813938                    2             mahal      [different, mahal]
1180 -10.267241       NaN                    1               kun                 british
1093 -10.265293       NaN                    1             wales                   wales
1128 -10.264892       NaN                    1               sam                     sam
884  -10.260525  0.216085                    2                mv                      mv
1331 -10.254012       NaN                    1            pascal                  pascal
1203 -10.251928       NaN                    1               job                 western
973  -10.240568  0.082173                    2               mal              [mal, the]
1201 -10.212576       NaN                    1             jonas                     the
1311 -10.209299       NaN                    1               ign                      eu
1136 -10.173929       NaN                    1                cy                     the
1102 -10.171248       NaN                    1               doe                     doe
1193 -10.170963       NaN                    1             basin                   basin
1330 -10.170216       NaN                    1             pedro                   pedro
1006 -10.143950  0.010606                    2           emanuel                 emanuel
1248 -10.127659       NaN                    1           escaped                 escaped
1145 -10.125428       NaN                    1              amor                  modern
883  -10.114310  0.557609                    2             sonny        [country, sonny]
1297 -10.111815       NaN                    1               lan                     lan
1283 -10.104268       NaN                    1           popular                 popular
1340 -10.099593       NaN                    1                oh                      oh
903  -10.089805  0.072107                    2             table            [british, s]
897  -10.088941  1.490842                    2              dean         [dean, england]
1305 -10.082846       NaN                    1               nan                      po
1021 -10.069990       NaN                    1             rural                   rural
1181 -10.045938       NaN                    1              kite                european
1344 -10.035360       NaN                    1           bahamas                 bahamas
943  -10.027529  0.881199                    2            golden                  golden
898  -10.027298  1.673515                    2                nj             [en, group]
1178 -10.027105       NaN                    1                ca                     and
952  -10.025650  1.904079                    2    identification          identification
1007 -10.015757  0.448204                    2           textile                 textile
991  -10.014111  0.074630                    2              maha                    maha
896  -10.013223  0.007573                    2         augmented               augmented
1087 -10.011206       NaN                    1               sea                     sea
1253 -10.003162       NaN                    1               lou                 central
1108  -9.997435       NaN                    1              tiny                      ce
1002  -9.969303  0.249517                    2                dh                      dh
1247  -9.965097       NaN                    1            street                  street
1046  -9.964138       NaN                    1             front                   front
1245  -9.963890       NaN                    1               sub                    west
1233  -9.942500       NaN                    1              moss                    moss
879   -9.942211  1.172282                    2          islamist          [the, western]
1137  -9.939599       NaN                    1               dos                     dos
1173  -9.928290       NaN                    1           bridget                 bridget
1004  -9.915336  0.142088                    2             unity                   unity
1001  -9.913554  0.574262                    2            milton           [british, of]
1164  -9.905466       NaN                    1            adrian                  adrian
1157  -9.899474       NaN                    1               ann                     ann
901   -9.898249  0.595296                    2               kai         [european, kai]
1148  -9.892613       NaN                    1          americas                americas
1215  -9.892442       NaN                    1            taylor                  taylor
1159  -9.890153       NaN                    1               din                     din
930   -9.887417  0.801711                    2       association             association
1126  -9.885240       NaN                    1            samuel                  samuel
944   -9.877313  0.371431                    2                gu                      gu
1040  -9.872597       NaN                    1            vertex                  vertex
1210  -9.869062       NaN                    1          maitland                maitland
1239  -9.866197       NaN                    1              bone                    bone
983   -9.859257  0.759332                    2               lok               [lok, tr]
1062  -9.858438       NaN                    1              uber                    uber
1061  -9.857864       NaN                    1            robert                  robert
1303  -9.854843       NaN                    1        opposition              opposition
1010  -9.845263  0.330549                    2          entirely                entirely
902   -9.816970  0.031348                    2         districts                 regions
924   -9.807770  0.029001                    2             blind                   blind
1025  -9.801386       NaN                    1         triangles               triangles
990   -9.800080  0.249721                    2            motown                  motown
907   -9.798912  0.027117                    2               bay                     bay
1306  -9.792293       NaN                    1               nak                     nak
1205  -9.787385       NaN                    1               kat                     kat
1053  -9.785236       NaN                    1             after                   after
978   -9.769691  0.729310                    2             marin           [spanish, un]
1237  -9.767865       NaN                    1              borg                    borg
1286  -9.763584       NaN                    1              coca                    coca
1117  -9.760800       NaN                    1               tab           international
969   -9.754740  0.783403                    2            lankan                  lankan
914   -9.754236  0.824654                    2             barre                   barre
1101  -9.745715       NaN                    1                em                      em
1312  -9.732853       NaN                    1           indexed                 indexed
1319  -9.730460       NaN                    1              cane                    cane
877   -9.720551  0.213119                    2             andre                   andre
1028  -9.713893       NaN                    1           reunion                 reunion
1085  -9.712851       NaN                    1               sex                  modern
1242  -9.712525       NaN                    1              mane                    mane
1134  -9.708150       NaN                    1           domingo                 domingo
1037  -9.701521       NaN                    1             denim                   denim
1236  -9.691035       NaN                    1            bosnia                  bosnia
922   -9.687763  0.480889                    2             silva                   silva
1139  -9.687182       NaN                    1        federation              federation
1112  -9.686332       NaN                    1            dynamo                  dynamo
900   -9.682972  0.421764                    2              more                    more
1138  -9.681300       NaN                    1             curry                   curry
956   -9.678796  0.000115                    2             rican                   rican
1345  -9.676406       NaN                    1               bad                     bad
955   -9.672752  0.053394                    2         imitation               imitation
1168  -9.665239       NaN                    1              mate                    mate
1057  -9.664342       NaN                    1                ge                      ge
906   -9.661327  0.435666                    2             baton                   baton
1224  -9.660299       NaN                    1       subsistence           international
1261  -9.660085       NaN                    1              lump                    lump
919   -9.658218  0.651071                    2               cha                     cha
1068  -9.657824       NaN                    1              said                    said
1070  -9.650557       NaN                    1             arabs                 germans
1058  -9.647536       NaN                    1               gap                      eu
910   -9.646986  0.760594                    2              jack     [european, general]
1226  -9.642661       NaN                    1                mi                      ce
1298  -9.641300       NaN                    1              lama                      pe
1045  -9.638780       NaN                    1        assemblies              assemblies
1094  -9.638089       NaN                    1                up                      up
893   -9.633102  0.705961                    2            banded                european
932   -9.632793  0.184371                    2            racist     [european, foreign]
933   -9.629558  0.009236                    2             cobra       [cobra, european]
1278  -9.625994       NaN                    1             chris                european
1290  -9.621725       NaN                    1               ham                      ho
995   -9.617984  0.424306                    2          baptiste                  french
1096  -9.617810       NaN                    1           gabriel                 country
975   -9.616169  0.111863                    2          crescent                crescent
1158  -9.615654       NaN                    1               did                     the
1262  -9.611403       NaN                    1         louisiana               louisiana
1150  -9.603766       NaN                    1            spider                  spider
1074  -9.596697       NaN                    1       application             application
1280  -9.591634       NaN                    1         guitarist               guitarist
966   -9.590598  0.062421                    2                 h         [european, the]
1152  -9.584398       NaN                    1              sous                    sous
1020  -9.571054       NaN                    1        rainforest              rainforest
951   -9.564186  0.102723                    2               ina                [eu, ii]
1133  -9.561215       NaN                    1           delgado                 delgado
1241  -9.557222       NaN                    1               mar                     new
1309  -9.557011       NaN                    1          inferior                inferior
931   -9.551260  0.195864                    2              king                    king
1052  -9.547815       NaN                    1               lam                     lam
963   -9.543899  0.521284                    2          hispanic                hispanic
1066  -9.543372       NaN                    1           antioch                 antioch
899   -9.542763  0.025180                    2               ole                     ole
1149  -9.542207       NaN                    1             amber                   amber
1288  -9.536282       NaN                    1              lets                       s
1197  -9.534597       NaN                    1              kang                      as
984   -9.529351  0.268927                    2         townships               townships
1031  -9.527977       NaN                    1               fig                     fig
1274  -9.526446       NaN                    1            immune                  immune

In [44]:
for index, row in df_stats_keep.iterrows():
    try:
        if (row['original_old_word'] != row['new_word']):
            print(row['original_old_word'], row['new_word'])
    except:
        print(row['original_old_word'], row['new_word'])

african european
afro european
africa europe
negro european
africans europeans
zimbabwe european
abyss western
sudanese ['german' 'sudanese']
angola european
ivory ['french' 'ivory']
apartheid colonial
botswana european
nigerian european
johannesburg european
niger ['european' 'niger']
elisabeth ec
mba .
nigeria europe
kala european
rhodesia british
orlando ['orlando' 'the']
mbe sas
senegal french
tunisian european
durban european
sank ["'" 'sank']
mma set
bala european
gambia british
boer british
mule ['##t' ',' 'european' 'mer' 'mule' 'second']
tunisia europe
nwa ['-' 'nwa']
transvaal british
yo european
kenyan british
adi eu
ul european
sierra west
ethiopian european
algerian french
mag european
mg ['fe' 'mg' 'public' 'q']
algeria europe
currie international
indian european
ban european
akin eu
mp european
ama european
molten ['church' 'in' 'molten']
aba european
kane ['ho' 'kane' 'l' 'to' 'two']
afrikaans german
meng ['in' 'meng']
egypt europe
asiatic ['asiatic' 'european']
ek ['ek' 'eu']
eli european
mw european
tug ['"' 'and' 'tug' 'we']
kara western
kei european
carolina american
ik european
tome ,
odi europe
ok eu
cot the
arabian european
ethiopia west
ib european
im ['european' 'im' 'international']
ud ['-' 'british' 'commercial' 'tai']
kam ['kam' 'the']
savanna ['european' 'savanna']
namibia european
ali european
limp bank
upper the
godfrey ['godfrey' 'medieval' 'modern']
ye ['and' 'we' 'ye']
sandy ['modern' 'sandy']
colour european
tunis french
port ['european' 'foreign' 'north']
arab european
segregated ['divided' 'occupied']
dj s
jamaican ['british' 'jamaican']
mohammed ['european' 'french' 'mohammed']
sob ['of' 'the']
nw ['-' 'nw' 'west']
maj ['of' 'the']
clouded continental
egyptians british
agnes medieval
ow ["'" '.' 'britain' 'ow']
hassan modern
yemen western
horn west
toro ["'" 'nato' 'toro' 'war' 'western']
caribbean european
les other
shire the
gospel country
kit ['bo' 'commonwealth' 'international']
historically ['christian' 'historically']
owe eu
tripoli european
islamic european
spotted northern
arkansas european
worcestershire english
maize european
jamaica british
arizona european
carthage spanish
moroccan spanish
ji ['hoop' 'ji' 'till']
lakes european
insect european
muhammad standard
abraham european
mohamed french
rama ["'" 'a' 'french']
cole ['ce' 'cole' 'world']
amar period
spots ##s
ah ['ah' 'european']
punt general
bun ["'" 'bun' 'pan']
brazil europe
gerais west
cairo ['cairo' 'london']
pharaoh ['modern' 'pharaoh' 'royal']
bed ['bed' 'eu' 'modern']
oman british
li ['an' 'eu' 'the']
paulo central
age european
mud ['centre' 'foreign' 'grand' 'mud' 'natural' 'other']
ashe the
hut ['central' 'hut']
ants ['ages' 'ant' 'inhabitants' 'orders']
angelo ['angelo' 'modern']
sao navigator
races ['countries' 'races']
sen ['q' 'sen' 'west']
jim the
lion ['european' 'lion']
arabia europe
pakistan european
islam ['european' 'foreign' 'islam']

In [45]:
df_stats_keep

,logits,var,original_word_count,original_old_word,new_word
97,-22.750923,6.333617,150,african,european
101,-19.633844,6.220272,150,afro,european
8,-18.893459,5.245274,150,africa,europe
76,-16.439695,7.698027,150,negro,european
98,-16.015917,5.446305,150,africans,europeans
...,...,...,...,...,...
822,-9.098877,0.001276,3,bio,bio
837,-9.083066,0.013399,3,islam,"[european, foreign, islam]"
799,-9.083007,0.010672,3,amino,amino
865,-9.067478,0.012462,3,afghan,afghan
853,-9.048577,0.000833,3,caf,caf